.img { 
  margin: auto;
  max-width: 500px;
}

.cool-btn { 
  background-color: var(--theme-color);
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 20px !important;
  text-decoration: none;
}

.cool-btn:hover { 
  border-color: var(--theme-color);
  background-color: #a0512dcc;
  color: white;
  padding: 8px 24px !important;
}

.answered { 
  border: 2px solid #8c4827 !important;
  color: #8c4827 !important;
}
