.droppped { 
  color: #2e3c45;
  font-size: 25px;
  font-weight: bold;
}

.draggable {
  height: 3rem;
  width: calc(7.5% + 1vw + .5vh) !important;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(40% + .75vw + 1vh) !important;
  margin: 0rem .5rem;
  cursor: move;
  color: #2e3c45  ;
  transition: opacity 0.2s;
  background-color: #cd764d;
  border: solid #8c4827;
  border-radius: 10px;
  z-index: 100;
}

.draggable:hover {
  opacity: 0.5;
}

.droppable {
  margin-left: 10px;
  margin-top: 20px;
  height: 6rem;
  width: 12rem;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  font-size: calc(10% + 0.7vw + 0.5vh) !important;
  font-weight: bold;
  background-color: rgb(238, 237, 237);
  color: #8c4827;
  border: 3px dashed #cd764d;
  transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
  align-items: center;
  border-radius: 10px;
}

.droppable span {
  font-size: calc(20% + .75vw + .5vh) !important;
  pointer-events: none;
}

/* Drag and Drop Style*/
.droppable.droppable-hover {
  border-width: 5px;
  transform: scale(1.1);
}

.droppable.dropped {
  background-color: #b2ebbb !important;
  border-style: solid;
  color: var(--theme-color);
}

.droppable.dropped span {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.droppable.dropped i {
  pointer-events: none;
}

.draggable.dragged {
  user-select: none;
  opacity: 0.1;
  cursor: default;
}

.draggable.dragged:hover {
  opacity: 0.1;
}

@media (max-width: 600px) {
  .draggable-elements {
    margin: 1.5rem;
  }

  .draggable {
    font-size: calc(30% + .75vw + .5vh) !important;
    padding: 0 30px;
  }

  td,
  th {
    font-size: calc(90% + .75vw + .5vh);
  }
}