.cool-btn { 
  height: 40px;
  background-color: #93bed8;
  border: 0;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 22px;
}

.cool-btn:hover { 
  background-color: #6f92a7;
}

.answered { 
  border: 4px dashed #6f92a7 !important;
  color: #6f92a7;
}
