#nums { 
  background-color: #a0522d;
  border-radius: 20px;
}

.number-decimal {
  color: black;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  font-weight: bold;
}

button.number {
  background-color: transparent;
  border: none;
  padding: 0;
  color: black;
  cursor: pointer;
  outline: inherit;
  font-size: 40px;
  font-weight: bold;
}

button.number:hover {
  background-color: transparent;
  color: #a0522d;
  padding: 0;
}

button.number:active {
  background-color: transparent !important;
  color: #a0522d !important;
}

@media (max-width: 575px) {
  button.number {
    font-size: 45px;
  }
  .number-decimal {
    font-size: 115px;
  }
}

@media (min-width: 576px) {
  button.number {
    font-size: 50px;
  }
  .number-decimal {
    font-size: 115px;
  }
}

@media (min-width: 768px) {
  button.number {
    font-size: 70px;
  }
  .number-decimal {
    font-size: 100px;
  }
}

@media (min-width: 992px) {
  button.number {
    font-size: 70px;
  }

  .number-decimal {
    font-size: 115px;
  }
}

@media (min-width: 1200px) {
  button.number {
    font-size: 70px;
  }
  .number-decimal {
    font-size: 115px;
  }
}

@media (min-width: 1400px) {
  button.number {
    font-size: 70px;
  }
  .number-decimal {
    font-size: 115px;
  }
}