/*
.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  font-size: 20px;
  padding: 0;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none !important;
  font-family: "Open Sans";
  text-transform: uppercase;
  border: 0 !important;
  border-radius: 10px !important;
  background-color: #fff;
  font-weight: bold;
}
.btn-flip:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
.btn-flip:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}
.btn-flip:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: white;
  display: block;
  transition: 0.5s;
  position: absolute;
  background: #a0522d;
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}
.btn-flip:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: black;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  background: white;
  border: 1px solid #a0522d;
  border-radius: 10px !important;
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}
*/
.cool-btn { 
  height: 40px;
  background-color: #cd764d;
  border: 0;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 22px;
}

.cool-btn:hover { 
  background-color: #8c4827;
}

.answered { 
  border: 4px dashed #8c4827 !important;
  color: #8c4827;
}
