.result { 
  width: 70px;
  background-color: #cd764d;
  color: white;
  border: solid #8c4827;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
}

.solved { 
  padding: 10px 8px !important;
}