.icon1 {
  margin: 5px;
  width: 4rem;
}

#grid,
.box {
  -webkit-user-select: none;
}
#main {
  max-width: 800px;
  font-family: helvetica neue, san-serif;
}

.soup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 480px) {
  .soup {
    padding-left: 10px;
  }
  .icon1 {
    width: 3.5rem;
  }
}
#grid {
  margin: 0px !important;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 410px;
  height: 410px;
  padding: 0px;
  background: #c3e5f1;
  border-radius: 0px;
  font-size: 20px;
  cursor: pointer;
  -ms-touch-action: none;
  touch-action: none;
}
@media (max-width: 480px) {
  #grid {
    width: 290px;
    height: 298px;
    font-size: 14px;
    border-radius: 0px;
  }
}
.box {
  color: rgb(12, 12, 12);
  margin: 3px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  border-radius: 5px;
  float: left;
}
@media (max-width: 480px) {
  .box {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}
.box.highlight {
  background: #111;
  color: #fff;
}
.box.found-red {
  background: #ec8e35;
  background: -webkit-linear-gradient(#ec8e35 50%, #ec8e35 51%);
  background: -moz-linear-gradient(#ec8e35 50%, #ec8e35 51%);
  background: -o-linear-gradient(#ec8e35 50%, #ec8e35 51%);
  background: linear-gradient(#ec8e35 50%, #ec8e35 51%);
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea2c2c', endColorstr='#d62222',GradientType=0 ); */
  color: #fff;
}
.box.found-green {
  background: #a1d54f;
  background: -webkit-linear-gradient(#a1d54f 50%, #80c217 51%);
  background: -moz-linear-gradient(#a1d54f 50%, #80c217 51%);
  background: -o-linear-gradient(#a1d54f 50%, #80c217 51%);
  background: linear-gradient(#a1d54f 50%, #80c217 51%);
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1d54f', endColorstr='#80c217',GradientType=0 ); */
  color: #fff;
}
.box.found-yellow {
  background: #fff94f;
  background: -webkit-linear-gradient(#fff94f 50%, #ffe500 51%);
  background: -moz-linear-gradient(#fff94f 50%, #ffe500 51%);
  background: -o-linear-gradient(#fff94f 50%, #ffe500 51%);
  background: linear-gradient(#fff94f 50%, #ffe500 51%);
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff94f', endColorstr='#ffe500',GradientType=0 ); */
  color: #fff;
}
.box.found-blue {
  background: #71ceef;
  background: -webkit-linear-gradient(#71ceef 50%, #21b4e2 51%);
  background: -moz-linear-gradient(#71ceef 50%, #21b4e2 51%);
  background: -o-linear-gradient(#71ceef 50%, #21b4e2 51%);
  background: linear-gradient(#71ceef 50%, #21b4e2 51%);
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71ceef', endColorstr='#21b4e2',GradientType=0 ); */
  color: #fff;
}
.box.found-purple {
  background: #c928a9;
  background: -webkit-linear-gradient(#c928a9 49%, #b5177d 49%);
  background: -moz-linear-gradient(#c928a9 49%, #b5177d 49%);
  background: -o-linear-gradient(#c928a9 49%, #b5177d 49%);
  background: linear-gradient(#c928a9 49%, #b5177d 49%);
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c928a9', endColorstr='#b5177d',GradientType=0 ); */
  color: #fff;
}
#listContainer {
  margin: 5px 5px;
  padding: 1rem;
  width: 200px;
  text-align: center;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #c3e5f1;
  border-radius: 10px;
}
@media (max-width: 740px) {
  #listContainer {
    margin: 0px;
    width: 200px;
    height: auto;
  }
}
#list {
  padding: 0.5rem;
  font-size: 20px;
  text-align: center;
  list-style: none;
}
#list li {
  white-space: nowrap;
}
#list li.found {
  color: gray;
  text-decoration: line-through;
}
