#guy {
  height: 500px;
  background-image: url(../../../images/course/modulo1/beneficios/37.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: relative;
  z-index: 1;
}
@media (max-width: 375px) {
  #organo2 {
    margin-right: 0px;
    left: 35%;
  }
  #organo3 {
    margin-right: 0px;
    left: 23%;
  }
  #organo5 {
    margin-right: 0px;
    left: 18%;
  }
  #organo11 {
    margin-left: 0px;
    left: 21%;
  }
  #organo10 {
    margin-right: 0px;
    left: 23%;
  }
  #organo6 {
    margin-left: 0px;
    left: 26%;
  }
  #organo9 {
    margin-left: 0px;
    left: 27%;
  }
}
.organo {
  display: absolute;
  width: 15px;
  height: 15px;
  border-color: rgba(46, 201, 46, 0.897);
  border-radius: 50%;
  background: rgba(28, 167, 28, 0.897);
  text-decoration: none;
  -webkit-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  transition: 0.3s all linear;
  position: absolute;
  z-index: 5;
}
.organo.on {
  border-radius: 30%;
  width: 50px;
  height: 50px;
  border: 0px;
  z-index: 10;
}

#organo1.on {
  background: url("../../../images/course/modulo1/beneficios/48.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
#organo2.on {
  width: 40px;
  height: 40px;
  background: url("../../../images/course/modulo1/beneficios/47.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
#organo3.on {
  width: 40px;
  height: 40px;
  background: url("../../../images/course/modulo1/beneficios/46.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
#organo4.on {
  background: url("../../../images/course/modulo1/beneficios/45.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

#organo7.on {
  background: url("../../../images/course/modulo1/beneficios/44.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

#organo10.on {
  width: 60px;
  height: 60px;
  -webkit-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  transform: rotate(25deg);
  background: url("../../../images/course/modulo1/beneficios/41.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
#organo11.on {
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  background: url("../../../images/course/modulo1/beneficios/40.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
