.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.7s;
  transform-style: preserve-3d;
  transform: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-inner:hover {
  cursor: pointer;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #0c7bbe;
  color: white;
  transform: rotateY(180deg);
  text-align: left;
}

.flip-card-title {
  background-color: var(--theme-color);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.styleCards {
  display: flex;
  justify-content: space-around;
}

.noSelect {
  user-select: none;
  pointer-events: none;
}

.selection {
  pointer-events: none;
}
