.subtitle-accent {
  font-weight: 700 !important;
  margin-top: 1px;
  color: #55a2fe !important;
  font-size: 15px !important;
}

svg.fa-play-circle {
  width: 4rem;
  height: 4rem;
  fill: var(--accent-color);
}

.box {
  max-height: 180px;
  height: auto;
  width: auto;
}

.corral {
  max-width: 350px;
  height: auto;
  width: -webkit-fill-available;
}

.clickable {
  cursor: pointer;
}

.hidden-element {
  position: absolute;
  opacity: 0;
}

.shown-element {
  position: inherit;
  opacity: 1;
  transition: opacity 0.8s linear;
}

.result {
  width: 70px !important;
  background-color: #cd764d;
  color: white;
  border: solid #8c4827;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
}

span.result { 
  display: inline-block;
  width: 50px;
  padding: 0px 8px;
  font-weight: bold;
}

.solved {
  padding: 10px 8px !important;
}

.circle { 
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: inline-block;
  line-height: 65px !important;
}

.smooth-edges { 
  border-radius: 10px;
}

.input-text { 
  border: 0;
  border-radius: 0;
  background-color: white;
  color: var(--accent-color);
  width: 200px !important;
  border: 1px solid rgb(169, 34, 34);
}