.lineContainer {
  position: relative;
}

.line {
  border-top: 1px solid blue;
  border-right: 1px solid blue;
  width: 21px;
  Height: 8px;
  padding: 0;
  margin: auto;
  float:left;
  cursor: pointer;
}

.lineRightEnd {
  border-right: 0;
}

.numberContainer {
  position: absolute;
  top: 10px;
  margin: 0;
  padding: 0;
}

.number {
  width: 22px;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}

.numberLeftEnd {
  width: 10px;
  Height: 5px;
  float: left;
  margin: 0;
  padding: 0;
}